.hr{
    margin: 0;
}
.rodape{
    background-color: var(--branco);
    padding:1em;
    
}
.lista__rodape{
    display: none;
}
@media screen and (min-width: 1024px){

    .rodape{
        display: flex;
        justify-content:space-around;
       
        

    }
.rodape__titulo{
    font-size: 24px;
}

.lista__rodape__item{
display: flex;
align-items: center;
margin: 0.6em 0;
}
.lista__rodape__titulo{
    color: var(--cor_footer_titulo);
 font-size: 16px;

}
.lista__rodape__link{
    color: var( --cor_footer_lista);
    text-decoration:none ;
    margin-left: .6em ;
   
}

.lista__rodape{
    display: block;
}

.lista__rodape__link:hover{
    color: var( --laranja);
   
  

}
}

@media screen and (min-width: 1728px){
    .lista__rodape{
       border-left: 1px solid var(--cor_footer_titulo) ;
       padding-left: 1em;
      
 }
 .rodape{
    padding: 3em 0 ;
 }
}
